body{
  background: #f2f2f2;
}
.caja{
  width:200px;
  height: 200px;
  background: #0e6ba8;
  margin: 20px;
  float: left;
}
.posicionada{
  background: #6695e8;
  position:;

}
/* Tipos de posicionamiento
  -Normal(static):Posicionamiento por defecto con el que los navegadores acomodan los Elementos
  -Relativo(relative):Nos permite posicionar una caja y despues moverla desde su lugar original
  -Absoluto(absolute):Nos permite posicionar una caja respecto a su contenedor y el resto de elementos ignoran la nueva posicion
  -Fijo(fixed):Nos permite posicionar una caja en donde su posicion respecto a la plantilla del usuario siempre va a ser la misma
  -Flotante(float):Nos permite desplazar las cajas todo lo posible hacia la derecha o izquierda

*/
